body {
  max-width: 500px;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

header {
  margin-top: 30px;
  text-align: center;
}

cite {
  font-size: 11px;
}

a {
  text-decoration: none;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

img, video {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

ul li {
  list-style-type: circle;
  margin-bottom: 10px;
}
