@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  line-height: 2em;
  word-wrap: break-word;
  hyphens: auto;
  color: #2F3437;
  background-color: #fafafa;
}

body {
  max-width: 40em;
  margin: 3em auto;
}

a {
  text-decoration: none;
}

li:not(:last-child) {
  margin-bottom: 1em;
}

p, li:last-child {
  margin-bottom: 1.8em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  margin: 1em 0;
  text-align: center;
}

img,
video {
  display: block;
  width: 100%;
  margin: auto;
}
