html {
  margin: 2em;
  line-height: 1.5;
  font-size: 20px;
  overflow-wrap: break-word;
}

body {
  max-width: 30em;
  margin: auto;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  width: 100%;
  margin: auto;
}

figcaption {
  margin: 1em 0;
  text-align: center;
}

ul li {
  list-style-type: circle;
  margin-bottom: 0.5em;
}
