html {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  max-width: 64em;
  font-size: 32px;
  margin: auto;
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word;
}

header {
  margin-top: 30px;
  text-align: center;
  text-align-last: center;
}

cite {
  font-size: 21px;
}

a {
  text-decoration: none;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-align-last: center;
}

ul li {
  list-style-type: circle;
  margin-bottom: 10px;
}
