html {
  font-family: "Arial";
  font-size: 21px;
  margin: 2em;
  line-height: 1.8;
  overflow-wrap: break-word;
}

header {
  text-align: center;
}

body {
  max-width: 30em;
  margin: auto;
}

a {
  text-decoration: none;
}

li:not(:last-child) {
  margin-bottom: 1em;
}

p, li:last-child {
  margin-bottom: 1.8em;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  margin: 1em 0;
  text-align: center;
}

img,
video {
  display: block;
  width: 100%;
  margin: auto;
}
